.App {
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-auth {
  margin-left: auto;
}

.App-text {
  height: 80vh;
}

.App-text,
.App-label {
  width: 100%;
  display: block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}